@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Fredericka+the+Great&display=swap");

.video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.header {
  height: 60px;
  border-bottom: 1px solid #eee;
}

.container {
  width: 80%;
  margin: 0 auto;
  position: relative;
}

.logo {
  color: #eee;
  line-height: 60px;
  width: 150px;
  float: left;
  font-family: 'Architects Daughter', cursive;
}

.gnb {
  width: 100%;
  position: absolute;
}

.gnb > ul {
  width: 500px;
  margin: 0 auto;
}

.gnb > ul > li {
  float: left;
  width: 100px;
  text-align: center;
  line-height: 60px;
}

.gnb > ul > li > a {
  font-family: "Architects Daughter", cursive;
  color: #eee;
}

.sns_group{
    float: right;
}

.sns_group > a {
  float: left;
  line-height: 60px;
  text-align: right;
  margin-left: 16px;
}
.sns_group > a > i {
  color: #eee;
  font-size: 18px;
}

.section {
    margin-top: 100px;
}

.section .content > h3{
    font-family: 'Fredericka the Great', cursive;
    font-size: 8rem;
    color: #eee;
}

.section .content_link{
    margin-top:18px;
}
.section .content > a{
    color: #eee;
    margin-right: 16px;
}
.section .content > a:last-child{
    margin-right: 0;
}
.section .content > a > i{
    font-size: 24px;
    margin-right: 10px;
}

.footer{
    width: 100%;
    height: 60px;
    position: absolute;
    left: 0;
    bottom: 0;
}

.footer p{
    text-align: center;
    color: #eee;
    line-height: 60px;
    letter-spacing: .2rem;
    font-size: 14px;
}