@charset "UTF-8"; 

*{ margin: 0; padding: 0;}
ul,ol,li{ list-style:none; }
a{ text-decoration: none; ;}
 
#box1{
   width:100%; padding:180px 0px 150px; 
}
#box1 .inner{
   width:1180px; margin:0 auto; position:relative; 
}
#box1 .inner h1{
   font:bold 22px/1 'arial'; color:#555; 
   border-bottom:2px solid #888; 
   margin-bottom:40px; padding-bottom:20px; 
}

#box1 .inner .wrap{
   width:100%;  
}
#box1 .inner .wrap::after{
   content:''; display:block; clear:both; 
}

#box1 .inner .wrap article{
   float:left; background:#777; 
   padding:40px; box-sizing:border-box; 
}
#box1 .inner .wrap article:nth-of-type(1){
   width:780px; height:300px; margin-right:20px; 
}
#box1 .inner .wrap article:nth-of-type(1) h2{
   font:bold 14px/1 'arial'; color:#111; margin-bottom:10px; 
}
#box1 .inner .wrap article:nth-of-type(1) h3{
   font:bold 30px/1.1 'arial'; color:#fff;  
}
#box1 .inner .wrap article:nth-of-type(1) h4{
   font:normal 30px/1.1 'arial'; color:#bbb; margin-bottom:50px; 
}
#box1 .inner .wrap article:nth-of-type(1) .btn{
   display:block; width:150px; height:40px; background:#bbb; 
   font:bold 12px/40px 'arial'; text-align: center; 
   border-radius:20px; color:#666; 
}

#box1 .inner .wrap article:nth-of-type(2), 
#box1 .inner .wrap article:nth-of-type(3){
   width:380px; height:140px; float:right; margin-bottom:20px;
}
#box1 .inner .wrap article:nth-of-type(2) h2, 
#box1 .inner .wrap article:nth-of-type(3) h2{
   font:bold 20px/1 'arial'; color:#fff; margin-bottom:10px; 
}
#box1 .inner .wrap article:nth-of-type(2) p, 
#box1 .inner .wrap article:nth-of-type(3) p{
   font:14px/1.2 'arial'; color:#bbb;  
}